.popup__closeIcon{
    position: absolute;
    color:white;
    transform: rotate(-45deg);
    top:0;
    right:0;
    font-size: 40px;
    cursor: pointer;
}

.popup__closeIcon:hover{
    color: rgba(255, 255, 255, 0.6);
}
