.profile__addButton {
  background-color: transparent;
  border: solid 2px white;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

.profile__addButton:hover {
  border: solid 2px rgba(255, 255, 255, 0.8);
}

.profile__addButton:hover img {
  opacity: 0.5;
}

@media screen and (max-width: 785px) {
  .profile__addButton {
    width: 282px;
  }
}
